<div class="users">
  <div class="">
    <app-leftmenu></app-leftmenu>
  </div>
  <div class="col-users">
    <div class="row-fit-users">
      <div class="use-elem add-user-btn btn">
        <button type="button" class="use-elem btn" (click)="openAdd()">New subject</button>
      </div>
	  <div class="use-elem add-user-btn add-user-btn1 btn shift-btn">
        <button type="button" class="use-elem btn" (click)="openAddForMultipleStudents()">New subject for multiple students</button>
      </div>
    </div>
    <table>
      <tr class="border-style">
        <td>№</td>
		<td>STUDENT</td>
		<td>DISCIPLINE</td>
		<td>YEAR</td>
		<td>SEMESTER</td>
		<td>LECTURE HOURS</td>
		<td>PRACTICE HOURS</td>
		<td>LABORATORY HOURS</td>
		<td>REPORTING</td>
		<td>COURSE TASK</td>
		<td>SEMESTER GRADE</td>
        <td></td>
      </tr>
      <tr *ngFor="let subject of subjects; let row_no = index" class="border-style">
        <td>{{row_no + 1}}</td>
		<td>{{subject.student.lastName}} {{subject.student.firstName}}</td>
		<td>{{subject.discipline.title}}</td>
		<td>{{subject.year}}</td>
		<td>{{getSemester(subject.semester)}}</td>
		<td>{{subject.lectureHours}}</td>
		<td>{{subject.practiceHours}}</td>
		<td>{{subject.laboratoryHours}}</td>
		<td>{{getReportingBySemesterType(subject.reporting)}}</td>
		<td>{{getCourseTask(subject.courseTask)}}</td>
		<td>{{subject.semesterGrade}}</td>
        <td><button class="user-btn btn btn-primary" [routerLink]="['/full-profile-subject', subject.id]">Edit</button></td>
      </tr>
    </table>
	<br/>
	<h3 class="h3">Subject data by hours</h3>
	<div class="row-fit-selects">
		<select [(ngModel)]="selectedDisciplineId" class="chart-elem-select" (change)="createChart()">
			<option value="0">None</option>
            <option *ngFor="let discipline of disciplines2" value="{{discipline.id}}">{{discipline.title}}</option>
        </select>
		<select [(ngModel)]="selectedTypeId" class="chart-elem-select" (change)="createChart()">
			<option value="0">None</option>
            <option value="1">Total</option>
            <option value="2">Lecture</option>
			<option value="3">Practice</option>
			<option value="4">Laboratory</option>
        </select>
	</div>
	<canvas id="subjectHoursComparison"></canvas>
  </div>
  <div class="another-side">
  </div>
</div>
