 <div class="designed-home">
	<div class="menu">
		<app-leftmenu></app-leftmenu>
    </div>
	<div class="master-detail">
	  <div class="use-elem add-user-btn btn">
        <button type="button" class="use-elem btn" [routerLink]="['/register-reporting-by-subject']">New reporting</button>
      </div>
		<app-master-detail #master2>
			<div *ngIf="items2 == null || items2.length <= 0" class="no-note-text">
				<p>There is no reporting here</p>
			</div>
			<ul>
				<li *ngFor="let item of items2" (click)="master2.open(item); showCharts(item.reportingBySubject.dueDate, item.realDueDate)" class="use-elem">
					<a href="javascript:void(0);">
						<div class="use-elem-link">
							{{ item.reportingBySubject.id }}. {{ item.reportingBySubject.title }}
						</div>
					</a>
				</li>
			</ul>
			<div *appDetailView="let item; let ctrl = controller">
				<h3 class="h3">{{ item.reportingBySubject.title }}</h3>
				<p class="note-text note-marging">Student: {{ item.subject.student.lastName }} {{ item.subject.student.firstName }}</p>
				<p class="note-text note-marging">Group: {{ item.subject.student.group.name }}</p>
				<p class="note-text note-marging">Discipline: {{ item.reportingBySubject.discipline.title }}</p>
				<p class="note-text note-marging">Description: {{ item.reportingBySubject.description }}</p>
				<p class="note-text note-marging">Year: {{ item.subject.year }}</p>
				<p class="note-text note-marging">Semester: {{ getSemester(item.subject.semester) }}</p>
				<!--<p class="note-text note-marging">From who: {{ item.teacher.lastName }} {{ item.teacher.firstName }}</p>-->
				<div class="note-date-changing note-marging note-p">
					<p type="text">Due date: {{ item.reportingBySubject.dueDate | date : "dd.MM.y" }}</p>
					<p *ngIf="item.realDueDate != null && item.realDueDate != '0001-01-01T00:00:00'" type="text">Real due date: {{ item.realDueDate| date : "dd.MM.y" }}</p>
				</div>
				<p class="note-text note-marging">Reporting type: {{ getReportingBySubjectType(item.reportingBySubject.reporting) }}</p>
				<!--<p class="note-text note-marging">Completed: {{ getIsCompleted(item.isCompleted) }}</p>-->
				<p *ngIf="item.grade > 0 && item.grade != null && item.grade < 100" class="note-text note-marging">Grade: {{ item.grade }}</p>
				<div *ngIf="item.grade <= 0 || item.grade == null || item.grade > 100" class="note-text note-marging">Grade: 
					<div class="use-elem use-elem-input notify-pos">
						<input type="number" value="0" #grade placeholder="Type a reporting grade here"/>
					</div>
					<div class="use-elem div-send-one-btn ">
						<button class="send-one-btn btn btn-primary" (click)="completeReport(item, grade.value)">Set</button>
					</div>
				</div>
				<!--<button (click)="ctrl.close()">Close</button>-->
				<!--<div class="use-elem use-elem-button-md btn">
					<button [routerLink]="['/full-profile-reporting-by-subject', item.id]" class="btn">Edit</button>
				</div>-->
			</div>
		</app-master-detail>
		<canvas id="dateComparison" class="canvas-date"></canvas>
	</div>
</div>
