<div class="list">
  <a routerLink="/" class="list-link">Home</a>
   <a *ngIf="authentication[1]== 9" routerLink="/students-control" class="list-link">Students</a>
   <!--<a *ngIf="authentication[1]== 9" routerLink="/teachers-control" class="list-link">Teachers</a>-->
   <!--<a *ngIf="authentication[1]== 9" routerLink="/profile-admin" class="list-link">Profile</a>-->
   <!--<a *ngIf="authentication[1]== 9" routerLink="/subjects-control" class="list-link">Subjects</a>-->
   <!--<a *ngIf="authentication[1]== 9" routerLink="/disciplines-control" class="list-link">Disciplines</a>-->
   <!--<a *ngIf="authentication[1]== 9" routerLink="/groups-control" class="list-link">Groups</a>-->
   <!--<a *ngIf="authentication[1]== 9" routerLink="/working-plans-control" class="list-link">Working plans</a>-->
  <a *ngIf="authentication[1]== 2" routerLink="/students" class="list-link">Students</a>
  <!--<a *ngIf="authentication[1]== 2" routerLink="/working-plans" class="list-link">Working plans</a>-->
  <!--<a *ngIf="authentication[1]== 2" routerLink="/profile-teacher" class="list-link">Profile</a>-->
  <!--<a *ngIf="authentication[1]== 2" routerLink="/reporting-by-subject-control" class="list-link">Reporting by subject</a>-->
  <!--<a *ngIf="authentication[1]== 1" routerLink="/reporting-by-subject" class="list-link">Reporting by subject</a>-->
  <!--<a *ngIf="authentication[1]== 1" routerLink="/profile-student" class="list-link">Profile</a>-->
</div>
