<div class="register">
  <div class="">
    <app-leftmenu></app-leftmenu>
  </div>
  <div class="col-register">
	<alert class="error-text"></alert>
    <form [formGroup]="registerForm">
      <div class="row-another">
        <h3 class="h3">Reporting by subject</h3>
		<div class="input-group">
          <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.student.touched) && this.registerForm.controls.student.errors">Student is required</div>
            </div>
          <select [class.error-block]="(submitted || this.registerForm.controls.student.touched) && this.registerForm.controls.student.errors" class="use-elem use-elem-select" formControlName="student">
			<option value="">No student</option>
            <option *ngFor="let student of students2" value="{{student.id}}">{{student.lastName}} {{student.firstName}}</option>
          </select>
        </div>
		<!--<div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.teacher.touched) && this.registerForm.controls.teacher.errors">Teacher is required</div>
            </div>
            <select [class.error-block]="(submitted || this.registerForm.controls.teacher.touched) && this.registerForm.controls.teacher.errors" class="use-elem use-elem-select" formControlName="teacher">
			  <option value="">No teacher</option>
			  <option *ngFor="let teacher of teachers2" value="{{teacher.id}}">{{teacher.lastName}} {{teacher.firstName}}</option>
            </select>
          </div>-->
		<div class="input-group">
          <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.discipline.touched) && this.registerForm.controls.discipline.errors">Discipline is required</div>
            </div>
          <select [class.error-block]="(submitted || this.registerForm.controls.discipline.touched) && this.registerForm.controls.discipline.errors" class="use-elem use-elem-select" formControlName="discipline">
			<option value="">No discipline</option>
            <option *ngFor="let discipline of disciplines2" value="{{discipline.id}}">{{discipline.title}}</option>
          </select>
        </div>
        <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.title.touched) && this.registerForm.controls.title.errors">Title is required</div>
            </div>
            <div [class.error-block]="(submitted || this.registerForm.controls.title.touched) && this.registerForm.controls.title.errors" class="use-elem use-elem-input">
              <input type="text" class="form-control" placeholder="Title" formControlName="title" value="">
            </div>
          </div>
		  <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.description.touched) && this.registerForm.controls.description.errors">Description is required</div>
            </div>
            <div [class.error-block]="(submitted || this.registerForm.controls.description.touched) && this.registerForm.controls.description.errors" class="use-elem use-elem-input">
              <textarea class="form-control textarea-notify" cols="50" rows="2" placeholder="Description" formControlName="description" value=""></textarea>
            </div>
          </div>
		<div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.reporting.touched) && this.registerForm.controls.reporting.errors">Reporting is required</div>
            </div>
            <select [class.error-block]="(submitted || this.registerForm.controls.reporting.touched) && this.registerForm.controls.reporting.errors" class="use-elem use-elem-select" formControlName="reporting" value="">
              <option value="">No reporting</option>
			  <option value="1">Module</option>
              <option value="2">CourseTask</option>
			  <option value="3">Exam</option>
			  <option value="4">Credit</option>
			  <option value="5">DifferentialCredit</option>
            </select>
        </div>
		<div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.dueDate.touched) && this.registerForm.controls.dueDate.errors">Due date is required</div>
            </div>
            <div [class.error-block]="(submitted || this.registerForm.controls.dueDate.touched) && this.registerForm.controls.dueDate.errors" class="use-elem use-elem-input">
              <input type="date" class="form-control" formControlName="dueDate" [valueAsDate]="" />
            </div>
          </div>
		<!--<div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.registerForm.controls.realDueDate.touched) && this.registerForm.controls.realDueDate.errors">Real due date is required</div>
            </div>
            <div [class.error-block]="(submitted || this.registerForm.controls.realDueDate.touched) && this.registerForm.controls.realDueDate.errors" class="use-elem use-elem-input">
              <input type="date" class="form-control" formControlName="realDueDate" [valueAsDate]="" />
            </div>
          </div>
		<div class="photo">
            <div class="file-choosing">
              <input type="file" id="file" (change)="onFileChanged($event)">
              <label for="file" class="use-elem-file-choosing btn">Choose a file</label>
            </div>
          </div>-->
      </div>

      <div class="input-group">
        <div [class.btn]="enableBtn()" class="use-elem use-elem-button">
          <button type="submit" [class.btn]="enableBtn()" [disabled]="loading" (keydown.enter)="AddReporting()" class="btn-primary" (click)="AddReporting()">Add</button>
        </div>
      </div>
    </form>
  </div>
  <div class="another-side">
  </div>
</div>
