<div class="users">
  <div class="">
    <app-leftmenu></app-leftmenu>
  </div>
  <div class="col-users">
    <div class="row-fit-users">
      <div class="use-elem add-user-btn btn">
        <button type="button" class="use-elem btn" (click)="openAdd()">New student</button>
      </div>
	  <!--<form class="fit-users-notify-form" [formGroup]="notifyForm">
        <div class="use-elem use-elem-input-users">
          <input type="text" class="form-control" formControlName="messageText" placeholder="Type a message here..." value="{{messageText}}">
        </div>
        <div class="use-elem add-user-btn btn">
          <button type="button" class="use-elem btn" (click)="sendNotifyAllText()">Send</button>
        </div>
      </form>-->
    </div>
    <table>
      <tr class="border-style">
        <td>№</td>
		<td>LAST NAME</td>
        <td>FIRST NAME</td>
        <td>BIRTHDAY</td>
        <td>PHONE</td>
		<td>ADDRESS</td>
		<td>GROUP</td>
        <td>CREATE TIME</td>
        <td>MODIFY TIME</td>
        <td>ACTIVE</td>
        <td></td>
      </tr>
      <tr *ngFor="let student of students2; let row_no = index" class="border-style">
        <td>{{row_no + 1}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.birthday | date : "dd.MM.y"}}</td>
        <td>{{student.phone}}</td>
		<td>{{student.address}}</td>
		<td>{{student.group.name}}</td>
        <td>{{student.createTime | date : "dd.MM.y h:mm"}}</td>
        <td>{{student.modifyTime | date : "dd.MM.y h:mm"}}</td>
        <td>{{getActive(student.authorization.isActive)}}</td>
        <td><button class="user-btn btn btn-primary" [routerLink]="['/full-profile-student', student.id]">Edit</button></td>
      </tr>
    </table>
  </div>
  <div class="another-side">
  </div>
</div>
