<div class="full-profile">
  <div class="">
    <app-leftmenu></app-leftmenu>
  </div>
  <div class="col-full-profile">
	<alert class="error-text"></alert>
    <form [formGroup]="profileForm">
      <div class="row-another">
        ﻿<h3 class="h3">Profile</h3>
        <div>
          <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.profileForm.controls.lastName.touched) && this.profileForm.controls.lastName.errors">Last name is required</div>
            </div>
            <div [class.error-block]="(submitted || this.profileForm.controls.lastName.touched) && this.profileForm.controls.lastName.errors" class="use-elem use-elem-input">
              <input type="text" class="form-control" placeholder="Last name" formControlName="lastName" value="">
            </div>
          </div>
          <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.profileForm.controls.firstName.touched) && this.profileForm.controls.firstName.errors">First name is required</div>
            </div>
            <div [class.error-block]="(submitted || this.profileForm.controls.firstName.touched) && this.profileForm.controls.firstName.errors" class="use-elem use-elem-input">
              <input type="text" class="form-control" placeholder="First name" formControlName="firstName" value="">
            </div>
          </div>
          <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.profileForm.controls.phone.touched) && this.profileForm.controls.phone.errors">Phone is required</div>
            </div>
            <div [class.error-block]="(submitted || this.profileForm.controls.phone.touched) && this.profileForm.controls.phone.errors" class="use-elem use-elem-input">
              <input type="text" class="form-control" placeholder="Phone" formControlName="phone" value="">
            </div>
          </div>
          <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.profileForm.controls.birthday.touched) && this.profileForm.controls.birthday.errors">Birthday is required</div>
            </div>
            <div [class.error-block]="(submitted || this.profileForm.controls.birthday.touched) && this.profileForm.controls.birthday.errors" class="use-elem use-elem-input">
              <input type="date" class="form-control" formControlName="birthday" [ngModel] ="currentTeacher.birthday | date:'yyyy-MM-dd'"/>
            </div>
          </div>
		  <div class="input-group">
            <div class="error-area">
              <div class="error-text" *ngIf="(submitted || this.profileForm.controls.address.touched) && this.profileForm.controls.address.errors">Address is required</div>
            </div>
            <div [class.error-block]="(submitted || this.profileForm.controls.address.touched) && this.profileForm.controls.address.errors" class="use-elem use-elem-input">
              <input type="text" class="form-control" placeholder="Address" formControlName="address" value="">
            </div>
          </div>
          <div class="input-group">
            <div class="error-area"></div>
            <label class="use-active">
              <span class="use-active-span">Active</span>
              <input type="checkbox" formControlName="active">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="input-group">
        <div [class.btn]="enableBtn()" class="use-elem use-elem-button">
          <button type="submit" [class.btn]="enableBtn()" [disabled]="loading" (keydown.enter)="EditProfile()" class="btn-primary" (click)="EditProfile()">Edit</button>
        </div>
      </div>
    </form>
  </div>
  <div class="another-side">
  </div>
</div>
