.register {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Cambria;
}

.col-register {
  width: 400px;
}

.image-register {
  width: 300px;
  height: auto;
  border: 1px solid rgb(211, 211, 211);
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-block-register {
}

.another-side {
  width: 100px;
}

.users {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  font-family: Cambria;
}

.col-users {
  width: 80%;
}

.another-side {
  width: 100px;
}

table {
  border: 1px solid rgb(150, 150, 150);
  border-collapse: collapse;
  width: 100%;
}

.border-style td, th {
  border-bottom: 1px solid rgb(150, 150, 150);
  border-right: 1px solid rgb(150, 150, 150);
}

.border-style td {
  font-size:14px;
}

.border-style th {
  font-size: 14px;
}