<div class="users">
  <div class="">
    <app-leftmenu></app-leftmenu>
  </div>
  <div class="col-users">
    <table>
      <tr class="border-style">
        <td>№</td>
		<td>DISCIPLINE</td>
		<td>GROUP</td>
		<td>HOURS</td>
		<td>ROLE</td>
		<td>YEAR</td>
		<td>SEMESTER</td>
		<td>LECTURE HOURS</td>
		<td>PRACTICE HOURS</td>
		<td>LABORATORY HOURS</td>
		<td>REPORTING</td>
		<td>COURSE TASK</td>
      </tr>
      <tr *ngFor="let workingPlan of workingPlans2; let row_no = index" class="border-style">
        <td>{{row_no + 1}}</td>
		<td>{{workingPlan.workingPlan.discipline.title}}</td>
		<td>{{workingPlan.subject.student.group.name}}</td>
		<td>{{workingPlan.workingPlan.hours}}</td>
		<td>{{getRole(workingPlan.workingPlan.role)}}</td>
		<td>{{workingPlan.workingPlan.year}}</td>
		<td>{{getSemester(workingPlan.subject.semester)}}</td>
		<td>{{workingPlan.subject.lectureHours}}</td>
		<td>{{workingPlan.subject.practiceHours}}</td>
		<td>{{workingPlan.subject.laboratoryHours}}</td>
		<td>{{getReportingBySemesterType(workingPlan.subject.reporting)}}</td>
		<td>{{getCourseTask(workingPlan.subject.courseTask)}}</td>
      </tr>
    </table>
  </div>
  <div class="another-side">
  </div>
</div>
