 <div class="designed-home">
	<div class="menu">
		<app-leftmenu></app-leftmenu>
    </div>
	<div class="master-detail">
		<app-master-detail #master2>
			<div *ngIf="items2 == null" class="no-note-text">
				<p>There is no reporting here</p>
			</div>
			<ul>
				<li *ngFor="let item of items2" (click)="master2.open(item)" class="use-elem">
					<a href="javascript:void(0);">
						<div class="use-elem-link">
							{{ item.id }}. {{ item.title }}
						</div>
					</a>
				</li>
			</ul>
			<div *appDetailView="let item; let ctrl = controller">
				<h3 class="h3">{{ item.title }}</h3>
				<p class="note-text note-marging">Discipline: {{ item.discipline.title }}</p>
				<p class="note-text note-marging">Description: {{ item.description }}</p>
				<!--<p class="note-text note-marging">To whom: {{ item.student.lastName }} {{ item.student.firstName }}</p>-->
				<p class="note-text note-marging">From who: {{ item.teacher.lastName }} {{ item.teacher.firstName }}</p>
				<div class="note-date-changing note-marging note-p">
					<p type="text">Due date: {{ item.dueDate | date : "dd.MM.y h:mm" }}</p>
					<!--<p type="text">Real due date: {{ item.realDueDate| date : "dd.MM.y h:mm" }}</p>-->
				</div>
				<p class="note-text note-marging">Reporting type: {{ getReportingBySubjectType(item.reporting) }}</p>
				<!--<p class="note-text note-marging">Completed: {{ getIsCompleted(item.isCompleted) }}</p>-->
				<!--<p class="note-text note-marging">Grade: {{ item.grade }}</p>-->
				<!--<button (click)="ctrl.close()">Close</button>-->
			</div>
		</app-master-detail>
	</div>
</div>
